*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
  background-color: rgb(148, 200, 255);
}
.navbar{
  width: 100%;
  padding: 25px 0;
  align-items: center;
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin: auto;
  background-color: rgb(32, 82, 114);
  z-index: 9999;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 20px;
}
.navbar ul li a{
  text-decoration: none;
  color: aliceblue;
  text-transform: uppercase;
}
.content{
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;
  color: aliceblue;
  background-color: rgb(148, 200, 255);
  overflow: auto;
}
.content h1{
  font-size: 50px;
  margin-bottom: 40px;
  overflow: hidden;
}
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  border-radius: 25px;
  border-width: 5px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  position: relative;
  overflow: hidden;
  color: aliceblue;
  border-color: aliceblue;
}

input[type=button] {
  width: 200px;
  padding: 15px 0;
  margin: 15px 15px;
  text-align: center;
  border-radius: 25px;
  border-width: 5px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  position: relative;
  overflow: hidden;
  color: aliceblue;
  border-color: aliceblue;
}

button:hover span{
  width: 100%;
}

input[type=button]:hover{
  background-color: rgb(32, 82, 114);
}

.post{
  padding: 15px 15px;
  margin: 15px 15px;
  text-align: left;
  border-width: 25px;
  border-radius: 25px;
  background-color: rgb(32, 82, 114);
}